<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>cizion_reply</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
    <h1>글 목록</h1>
    <hr>

    <form action="/posts" method="POST">
        <input type="text" name="inputTitle" placeholder="제목을 입력하세요.">
        <input type="submit" value="등록하기">
    </form>
    <br>

    <table>
        <tr>
            <td>제목</td>
            <td>작성자</td>
            <td>작성일</td>
        </tr>
        <% for(let post of posts) { %>
            <tr>
                <td><a href="/detail/<%=post.id%>"><%= post.title %></a></td>
                <td><%= post.userEmail %></td>
                <td><%= post.createdAt %></td>
            </tr>
        <% } %>
    </table>

    </body>
</html>